.sheet {
    width: 1000px;
    position: absolute;
}

.stave {
    margin: 20px 0;
    width: 1200px;
    height: 150px;
    background-image: url("../images/blank_sheet.png");
    background-size: cover; 
    background-repeat: no-repeat;
    background-position: center center;
}

.note-grid {
    position: relative;
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto auto auto auto auto auto;
    margin-left: 100px;
    margin-top: 15px;
    padding-top: 17px;
    width: 88%;
    height: 87%;
}

span.note {
    position: absolute;
    top: -65px;
    left: 30px;
    font-size: 70px;
}

span.note-flipped {
    position: absolute;
    top: -28px;
    left: 30px;
    font-size: 70px;
    -moz-transform: scale(-1, -1);
    -webkit-transform: scale(-1, -1);
    -o-transform: scale(-1, -1);
    -ms-transform: scale(-1, -1);
    transform: scale(-1, -1);
}

button.note {
    position: relative;
    background: none;
    border: none;
}

button.note:hover {
    background: blue;
    opacity: 25%;
    cursor: pointer;
}

button.note:focus {
    outline: none;
}

#highlight {
    position: absolute;
    font-size: 25px;
    top: -15px;
    left: 100px;
    width: 60px;
    height: 170px;
    opacity: 0.2;
}
