@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4"><a asp-area="" asp-controller="Home" asp-action="Sheet">Create Your Music</a></h1>
</div>

<link rel="stylesheet" type="text/css" href="@Url.Content("~/css/home.css")" media="screen" />
