@{
    ViewData["Title"] = "Home Page";
}

@*<div class="text-center">
    <h1 class="display-4">
        <button class="">
            <a asp-area="" asp-controller="Home" asp-action="Sheet">Create Your Music</a>
        </button>
    </h1>
</div>*@

<link rel="stylesheet" type="text/css" href="@Url.Content("~/css/home.css")" media="screen" asp-append-version="true" />
