
@{
    ViewData["Title"] = "View Music Sheet";
}

<h1>@ViewData["Title"]</h1>

<p>Stayin' Alive - OnlineDrummer.com</p>

<div id="sheet-group">
    <img class="sheet" id="sheet1" src="~/images/Stayin-Alive.png" alt="Music Sheet">
</div>

<link rel="stylesheet" type="text/css" href="~/css/sheet.css" media="screen"  />