@model IEnumerable<Models.Stave>

<!DOCTYPE html>

<html>
<head>
    <title>Privacy</title>
</head>
<body>
    <h4>Stave</h4>
    <hr />
    <table style="width:100%">
        <tr>
            <th>Stave Id</th>
            <th>Music Id</th>
            <th>Note Id</th>
            <th>Stave Index</th>
        </tr>
        @foreach (Models.Stave st in Model)
        {
            <tr>
                <td>@st.StaveId</td>
                <td>@st.MusicId</td>
                <td>@st.NoteId</td>
                <td>@st.StaveIndex</td>
            </tr>
        }
    </table>
</body>
</html>